language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install six
  - pip install pycryptodome
  - pip install chardet
script:
  nosetests --nologcapture
