include Makefile
include LICENSE
include *.txt
include *.md
include *.py
graft pdfminer
graft tools
global-exclude *.pyc
prune samples
prune docs
include cmaprsrc/LICENSE.md
recursive-include cmaprsrc cid2code.txt
